.supplies {
  padding: 0 5%;
  margin-top: 150px;
  background: whitesmoke;
  &__items {
    .easy-list-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    min-height: 200px;
    min-width: 400px;
    margin-bottom: 30px;
  }
  &__button {
    margin: 30px 0;
    display: flex;
    &__left {
      text-align: left;
    }
  }
}

.supplies-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  &__image-section {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    border: 6px solid whitesmoke;
  }
  &__image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__fullname {
    margin-top: 10px;
    font-size: 2.5rem;
  }
  &__class {
    font-size: 1.5rem;
  }
}
