body {
  background: whitesmoke !important;
}

.dashboard {
  background: #F9F6FD;
  &__elements {
    padding: 0 5%;
    margin-top: - 100px;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    > * {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      .ant-card-head {
         border-bottom: none;
      }
    }
    > *:nth-child(2n + 1) {
      margin-left: 30px;
      margin-right: 30px;
    }
    > * {
      margin-bottom: 30px !important;
    }
  }
  &__right {
    flex: 1;
    &__card {
      width: 100% !important;
      margin: 0;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &__clase {
      margin-top: 30px !important;
    }
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    background: whitesmoke;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  &__icon {
    font-size: 10rem;
    color: #0575E6;

  }
  &__number {
    margin-top: -30px;
    font-size: 5rem;
    color: rgba(black, .7);
  }
  &__title {
    font-size: 2rem;
    color: rgba(black, .5);
    margin-top: -15px;
  }
}